@model Vruttasanstha.Models.Changepassword

@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divStyle">
    @using (Html.BeginForm())
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
            <h3>CHANGE PASSWORD</h3>
        </div>


        if (ViewBag.message != null)
        {
            <div>
                <label class="col-lg-12 alert-success" style="text-align:center;">@ViewBag.message </label>
            </div>
        }
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label lbl_name" for="exampleInputEmail1" style="font-weight: normal; font-size: 16px;">Old Password</label>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(m => m.OldPassword, new { id = "txtOldPassword", type = "password", @class = "form-control", placeholder = "Old Password" })
                    @Html.ValidationMessageFor(m => m.OldPassword, null, new { style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label lbl_name" for="exampleInputPassword1" style="font-weight: normal; font-size: 16px;">New Password</label>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(m => m.NewPassword, new { id = "txtNewPassword", type = "password", placeholder = "New Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { style = "color: red" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label lbl_name" for="exampleInputPassword1" style="font-weight: normal; font-size: 16px;">Confirm NewPassword</label>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { id = "txtConfirmPassword", type = "password", placeholder = "Confirm New Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { style = "color: red" })
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
            <input type="submit" class="btn btn-success" name="btnsubit" value="Change Password" />
        </div>


    }

</div>
